# Environment Variables
.env
.env.*
!.env.example

# Python cache, venvs, tools
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.mypy_cache/
.pytest_cache/
.envrc

# Editors/OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data/model caches
data/chroma/
hf_cache/

# Logs (optional)
*.log
logs/

# Ignore Archive
archive/